In [117]:
import sys
from datetime import datetime, timedelta

from tinkoff.invest import CandleInterval, Client
from tinkoff.invest.token import TOKEN
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import pytz
import time

In [10]:
companies_as_df = pd.read_csv('companies_dataset.csv')

In [15]:
companies_as_df

,figi,name,ticker,exchCode,compositeFIGI,securityType,marketSector,shareClassFIGI,securityType2,securityDescription
0,BBG0025Y4RY4,ABBVIE INC,ABBV,US,BBG0025Y4RY4,Common Stock,Equity,BBG0025Y4RZ3,Common Stock,ABBV
1,BBG000C101X4,ABIOMED INC,ABMD,US,BBG000C101X4,Common Stock,Equity,BBG001S64SQ9,Common Stock,ABMD
2,BBG000D9D830,ACCENTURE PLC-CL A,ACN,US,BBG000D9D830,Common Stock,Equity,BBG001SCXK90,Common Stock,ACN
3,BBG000CVWGS6,ACTIVISION BLIZZARD INC,ATVI,US,BBG000CVWGS6,Common Stock,Equity,BBG001S6C009,Common Stock,ATVI
4,BBG000BB5006,ADOBE INC,ADBE,US,BBG000BB5006,Common Stock,Equity,BBG001S5NCQ5,Common Stock,ADBE
...,...,...,...,...,...,...,...,...,...,...
496,BBG000BH3GZ2,YUM! BRANDS INC,YUM,US,BBG000BH3GZ2,Common Stock,Equity,BBG001S7JQ30,Common Stock,YUM
497,BBG000CC7LQ7,ZEBRA TECHNOLOGIES CORP-CL A,ZBRA,US,BBG000CC7LQ7,Common Stock,Equity,BBG001S6SX73,Common Stock,ZBRA
498,BBG000BKPL53,ZIMMER BIOMET HOLDINGS INC,ZBH,US,BBG000BKPL53,Common Stock,Equity,BBG001S7DQJ9,Common Stock,ZBH
499,BBG000BX9WL1,ZIONS BANCORP NA,ZION,US,BBG000BX9WL1,Common Stock,Equity,BBG001S5XN80,Common Stock,ZION
500,BBG0039320N9,ZOETIS INC,ZTS,US,BBG0039320N9,Common Stock,Equity,BBG0039320P7,Common Stock,ZTS

In [13]:
companies_as_df = companies_as_df.drop('uniqueID', axis=1)
companies_as_df = companies_as_df.drop('uniqueIDFutOpt', axis=1)

In [14]:
companies_as_df.describe()

,figi,name,ticker,exchCode,compositeFIGI,securityType,marketSector,shareClassFIGI,securityType2,securityDescription
count,501,501,501,501,501,501,501,501,501,501
unique,501,501,501,1,501,3,1,501,3,501
top,BBG0025Y4RY4,ABBVIE INC,ABBV,US,BBG0025Y4RY4,Common Stock,Equity,BBG0025Y4RZ3,Common Stock,ABBV
freq,1,1,1,501,1,472,501,1,472,1

In [30]:
datetime.utcnow() - timedelta(days=365*2)

datetime.datetime(2021, 2, 24, 21, 51, 38, 416845)

In [118]:
from tinkoff.invest import CandleInterval, Client
from tinkoff.invest.token import TOKEN

figi = 'BBG0025Y4RY4'
with Client(TOKEN) as client:
    now = datetime.now().replace(hour=3, minute=0, second=0, microsecond=0)

    # for year in [1,2]:
    from_ = now - timedelta(days=100)
    to = now
    print(f'from {from_} to {to}')
    candles = list(client.get_all_candles(figi=figi, from_=from_, to=to, interval=CandleInterval.CANDLE_INTERVAL_1_MIN))
    print(len(candles))
    print(f'actually from {candles[0].time} to {candles[len(candles) -1].time}')

    # for c in candles:
    #     print(c.__dict__['time'])

from 2021-11-17 03:00:00 to 2022-02-25 03:00:00
36892
actually from 2021-11-17 07:07:00+00:00 to 2022-02-24 22:44:00+00:00

In [119]:
pd.DataFrame(candles)

,open,high,low,close,volume,time,is_complete
0,"{'units': 116, 'nano': 340000000}","{'units': 116, 'nano': 610000000}","{'units': 116, 'nano': 340000000}","{'units': 116, 'nano': 610000000}",3,2021-11-17 07:07:00+00:00,True
1,"{'units': 116, 'nano': 610000000}","{'units': 116, 'nano': 610000000}","{'units': 116, 'nano': 610000000}","{'units': 116, 'nano': 610000000}",1,2021-11-17 07:09:00+00:00,True
2,"{'units': 116, 'nano': 610000000}","{'units': 116, 'nano': 610000000}","{'units': 116, 'nano': 610000000}","{'units': 116, 'nano': 610000000}",3,2021-11-17 07:12:00+00:00,True
3,"{'units': 116, 'nano': 610000000}","{'units': 116, 'nano': 610000000}","{'units': 116, 'nano': 610000000}","{'units': 116, 'nano': 610000000}",23,2021-11-17 07:23:00+00:00,True
4,"{'units': 116, 'nano': 560000000}","{'units': 116, 'nano': 560000000}","{'units': 116, 'nano': 550000000}","{'units': 116, 'nano': 550000000}",2,2021-11-17 07:25:00+00:00,True
...,...,...,...,...,...,...,...
36887,"{'units': 145, 'nano': 0}","{'units': 145, 'nano': 0}","{'units': 145, 'nano': 0}","{'units': 145, 'nano': 0}",1,2022-02-24 22:12:00+00:00,True
36888,"{'units': 145, 'nano': 300000000}","{'units': 145, 'nano': 300000000}","{'units': 145, 'nano': 300000000}","{'units': 145, 'nano': 300000000}",1,2022-02-24 22:31:00+00:00,True
36889,"{'units': 145, 'nano': 270000000}","{'units': 145, 'nano': 270000000}","{'units': 144, 'nano': 590000000}","{'units': 144, 'nano': 590000000}",50,2022-02-24 22:40:00+00:00,True
36890,"{'units': 144, 'nano': 840000000}","{'units': 144, 'nano': 840000000}","{'units': 144, 'nano': 610000000}","{'units': 144, 'nano': 610000000}",16,2022-02-24 22:42:00+00:00,True
36891,"{'units': 144, 'nano': 590000000}","{'units': 144, 'nano': 590000000}","{'units': 144, 'nano': 590000000}","{'units': 144, 'nano': 590000000}",16,2022-02-24 22:44:00+00:00,True

In [158]:
now = datetime.now().replace(hour=3, minute=0, second=0, microsecond=0)

def build_dataframe_for_figi(company, days, step=100):
    start_time = time.time()
    candles = []
    with Client(TOKEN) as client:
        for i in range(step, days + 1, step):
            from_ = now - timedelta(days= i)
            to = now - timedelta(days = i - step)
            print(f"Iteration:={i // step} from:={from_} to:= {to}")

            error = {}
            while error is not None:
                try:
                    response = list(client.get_all_candles(figi=company['figi'], from_=from_, to=to, interval=CandleInterval.CANDLE_INTERVAL_1_MIN))
                    candles.extend(response)
                    error = None
                except Exception as e:
                    error = e
                    print(f"Request limit. Waiting 60 sec...")
                    time.sleep(60)

    print(f"Loaded data for company :={company['ticker']} size:={len(candles)}  time:={time.time() - start_time }")

    candles_as_dict = []
    for c in candles:
        c_open = float(str(c.open.units) + "." + str(c.open.nano))
        c_close = float(str(c.close.units) + "." + str(c.close.nano))
        c_high = float(str(c.high.units) + "." + str(c.high.nano))
        c_low = float(str(c.low.units) + "." + str(c.low.nano))

        c_dict = c.__dict__
        c_dict['open'] = c_open
        c_dict['close'] = c_close
        c_dict['high'] = c_high
        c_dict['low'] = c_low
        del c_dict['is_complete']
        candles_as_dict.append(c_dict)

    return pd.DataFrame(candles_as_dict)

In [159]:
companies = companies_as_df.to_dict('records')

In [160]:
companies[0]

{'figi': 'BBG0025Y4RY4',
 'name': 'ABBVIE INC',
 'ticker': 'ABBV',
 'exchCode': 'US',
 'compositeFIGI': 'BBG0025Y4RY4',
 'securityType': 'Common Stock',
 'marketSector': 'Equity',
 'shareClassFIGI': 'BBG0025Y4RZ3',
 'securityType2': 'Common Stock',
 'securityDescription': 'ABBV'}

In [161]:
build_dataframe_for_figi(companies[0], 800)

Iteration:=1 from:=2021-11-17 03:00:00 to:= 2022-02-25 03:00:00
Iteration:=2 from:=2021-08-09 03:00:00 to:= 2021-11-17 03:00:00

None GetCandles RESOURCE_EXHAUSTED

Iteration:=3 from:=2021-05-01 03:00:00 to:= 2021-08-09 03:00:00
Request limit. Waiting 60 sec...
Iteration:=4 from:=2021-01-21 03:00:00 to:= 2021-05-01 03:00:00
Iteration:=5 from:=2020-10-13 03:00:00 to:= 2021-01-21 03:00:00

None GetCandles RESOURCE_EXHAUSTED

Request limit. Waiting 60 sec...
Iteration:=6 from:=2020-07-05 03:00:00 to:= 2020-10-13 03:00:00
Iteration:=7 from:=2020-03-27 03:00:00 to:= 2020-07-05 03:00:00
Iteration:=8 from:=2019-12-18 03:00:00 to:= 2020-03-27 03:00:00

None GetCandles RESOURCE_EXHAUSTED

Request limit. Waiting 60 sec...
Loaded data for company :=ABBV size:=317476  time:=305.28980565071106

          open    high     low   close  volume                      time
0       116.34  116.61  116.34  116.61       3 2021-11-17 07:07:00+00:00
1       116.61  116.61  116.61  116.61       1 2021-11-17 07:09:00+00:00
2       116.61  116.61  116.61  116.61       3 2021-11-17 07:12:00+00:00
3       116.61  116.61  116.61  116.61      23 2021-11-17 07:23:00+00:00
4       116.56  116.56  116.55  116.55       2 2021-11-17 07:25:00+00:00
...        ...     ...     ...     ...     ...                       ...
317471   74.29   74.29   74.29   74.29      32 2020-03-26 21:44:00+00:00
317472   74.00   74.00   74.00   74.00      50 2020-03-26 22:13:00+00:00
317473   74.00   74.00   74.00   74.00       4 2020-03-26 22:15:00+00:00
317474   74.14   74.14   74.14   74.14       4 2020-03-26 22:43:00+00:00
317475   74.14   74.14   74.14   74.14      50 2020-03-26 22:44:00+00:00

[317476 rows x 6 columns]

In [ ]:
for company in companies:
    print("-"*50 + f"\nProcessing company:={company['ticker']}\n" + "-"*50 )

    df = build_dataframe_for_figi(companies[0], 800)
    csv_name = f"./tinkoff_data/{company['ticker']}.csv"
    df.to_csv(csv_name, index=False)